.venv/
venv/
env/
bin/
lib/
share/
pyvenv.cfg
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
*.csv
*.gif
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.env
.kaggle/
*.txt
data/
*.db
mlruns/
mlflow_artifacts/
outputs/
models/
.mlflow/
*.parquet
*.html
*.png
# PyTorch
*.pt
*.pth

# TensorFlow / Keras
*.h5
*.keras
*.pb

# ONNX
*.onnx

# Scikit-learn / Python Pickle
*.pkl
*.joblib
model/
models/

*.bin
*.model
*.weights
*.ckpt