.venv/
venv/
env/
bin/
lib/
share/
pyvenv.cfg
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
*.csv
*.gif
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.env
.kaggle/


*.db
mlruns/
mlflow_artifacts/
outputs/

.mlflow/
*.parquet
*.html
*.png
# PyTorch
*.pt
*.pth

# TensorFlow / Keras
*.h5
*.keras
*.pb

# ONNX
*.onnx

# Scikit-learn / Python Pickle
*.pkl
*.joblib
model/


*.bin
*.model
*.weights
*.ckpt

*.pkl
*.joblib
*.pth
*.pt
*.h5
*.keras
*.pb
*.onnx
*.bin
*.model
*.weights
*.ckpt
*.safetensors

*.html
*.png
.vscode/
*.json
*.csv
#===== folder
data/
0722/
0724/
0729/
0731/
data/
gcmd_pu/
mhd/
mlartifacts/
notebooks/
ml_project/
others/
project_src/
RESEARCH/
py/
tac/
tac_co2/
*db